body {
    margin: 0px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.page-title {
    margin-top: 10px;
}

.simple-page {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
}

.simple-input {
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.simple-btn {
  background: #1f3b64;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}