body {
    margin: 0px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.page-title {
    margin-top: 10px;
}